/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
$color-primary: #03AEDB;
$color-primary-dark: #003546;
$color-accent: #F37735
